.applet-log-box {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0px;
    padding-bottom: 4px;
    font-size: 10px;
    background-color: #333;
    min-height: 50px;
    min-height: 125px;
    overflow-y: auto;
    height: max-content;
}

.applet-entry {
    color: lightgrey;
}

